:root {
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --light: #f8f9fa;
    --dark: #343a40;
    --body: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light);
    color: var(--body);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
#beranda {
    margin-top : 30px;
}

header {
    background-color: var(--dark);
    color: #fff;
    padding: 20px 0;
    width: 100%;
    top: 0;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: yellow;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: var(--primary);
}

section {
    padding: 20px;
}

section h2 {
    font-size: 32px;
    color: var(--dark);
}

section p {
    font-size: 18px;
    color: var(--secondary);
}

footer {
    background-color: var(--dark);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

.link-button {
    font-size: 16px;
    display: inline-block;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link-button:hover {
    background-color: #333;
    color: #3fa;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    height: 1px;
    background-color: var(--secondary);
}

.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.success {
    color: var(--success);
}

.danger {
    color: var(--danger);
}

.warning {
    color: var(--warning);
}

.info {
    color: var(--info);
}

.light {
    color: var(--light);
}

.dark {
    color: var(--dark);
}
.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-success {
    background-color: var(--success);
}

.bg-danger {
    background-color: var(--danger);
}

.bg-warning {
    background-color: var(--warning);
}

.bg-info {
    background-color: var(--info);
}

.bg-light {
    background-color: var(--light);
}

.bg-dark {
    background-color: var(--dark);
}
